<section class="ui-section-hero">
    <div class="ui-layout-container">
        <div class="ui-section-hero__layout ui-layout-grid ui-layout-grid-2">
            <div>
                <h1>404</h1>
                <p class="ui-text-intro">Page Not Found</p>
            </div>
            <img src="/svg/notfound.svg" alt="Not Found" class="ui-image-half-right animated fadeIn">
            <div class="ui-component-cta ui-layout-flex">
                <a href="/" role="link" aria-label="/" class="ui-component-button ui-component-button-normal ui-component-button-primary">Return to Homepage</a>
            </div>
        </div>
    </div>
</section>
