
<section class="ui-section-hero">
    <div class="ui-layout-container">
        <div class="ui-section-hero__layout ui-layout-grid ui-layout-grid-2">
            <!-- COPYWRITING -->
            <div>
                <h1>Get appointments fast.</h1>
                <p class="ui-text-intro">VaxFinder scans over 29,000 pharmacy locations around the country every 15 seconds, notifying you by phone immediately when a vaccine appointment near your street address is available.</p>
                <!-- CTA -->
                <div class="ui-component-cta ui-layout-flex">
                    {{#if @loggedIn}}
                        <a href="track" role="link" aria-label="track" class="ui-component-button ui-component-button-normal ui-component-button-primary">Start Tracking</a>
                    {{else}}
                        <a href="login" role="link" aria-label="login" class="ui-component-button ui-component-button-normal ui-component-button-primary">Login with Discord</a>
                    {{/if}}

                </div>
            </div>
            <!-- IMAGE -->
            <img src="vaxfinder-image.png" loading="lazy" alt="A map of the united states with several red circles drawn on it." class="ui-image-half-right">
        </div>
    </div>
</section>
