<section class="ui-section-hero">
    <div class="ui-layout-container">
        <div class="ui-section-hero__layout ui-layout-grid ui-layout-grid-2">
            <!-- COPYWRITING -->
            <div>
                <h1>Get COVID-19 vaccination appointments fast.</h1>
                <p class="ui-text-intro">VaxFinder scans over 30,000 pharmacy locations around the country every 15 seconds, notifying you by phone immediately when a COVID-19 vaccine appointment is available near you.</p>
                <!-- CTA -->
                <div class="ui-component-cta ui-layout-flex">
                    {{#if @loggedIn}}
                        <a href="/track" role="link" aria-label="track" class="ui-component-button ui-component-button-normal ui-component-button-primary">Start tracking</a>
                    {{else}}
                        <a href="/login" role="link" aria-label="login" class="ui-component-button ui-component-button-normal ui-component-button-primary">Login to start tracking</a>
                    {{/if}}

                </div>
            </div>
            <!-- IMAGE -->
            <img src="/img/vaxfinder-image.png" alt="A map of the United States with several red circles drawn on it." class="ui-image-half-right animated fadeIn">
        </div>
    </div>
</section>
