
<section class="ui-section-hero">
    <div class="ui-layout-container">
        <div class="ui-section-hero__layout ui-layout-grid ui-layout-grid-1">
            <!-- COPYWRITING -->
            <div>
                <h1>Login to VaxFinder</h1>
                <p class="ui-text-intro">If you use the corresponding Discord bot, please sign in with your Discord account. Otherwise, you may sign in with Google or Discord.</p>
                <!-- CTA -->
                <div class="ui-component-cta ui-layout-flex">
                <a href="login/google" style="background-color: #DB4437; border-color: #DB4437" role="link" aria-label="track" class="ui-component-button ui-component-button-normal ui-component-button-primary">Login with Google</a>
                <a href="login/discord" style="background-color: #7289DA; border-color: #7289DA" role="link" aria-label="login" class="ui-component-button ui-component-button-normal ui-component-button-primary">Login with Discord</a>
                </div>
            </div>
        </div>
    </div>
</section>
