<div class="ui-layout-container ui-section-feature">
    <h1>Terms of Service</h1>
    <p>Follow reasonable practices while using the website (don't try to hack us, DDOS us, etc.) and we won't have a problem.</p>
</div>
